@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Poppins";
    font-weight: bold;
    src: local("Poppins-Bold"),
    url('./assets/fonts/Poppins/Poppins-Bold.ttf')
}

@font-face {
    font-family: "Poppins";
    font-weight: normal;
    src: local("Poppins-Medium"),
    url('./assets/fonts/Poppins/Poppins-Medium.ttf')
}

body {
    font-family: "Poppins", sans-serif;
}